
.part-upload {
    position: absolute;

    top: 10%;
    left: 5%;
}

#btFileUpload {
    text-align: center;

    color: white;
}

.detail-container {
    background-color: white;

    padding-top: 2.5%;

    height: 100%;
    width: 100%;
}

.header-container {
    display: flex;
    width: 100%;
    height: 10%;

    padding-bottom: 2.5%;
}

.pokemon-name {
    color: #101010;

    font-size: 2.5vw;
    width: 50%;
    margin: 0px;

    padding-right: 2.5%;
    text-align: right !important;
}

.pokemon-nr {
    color: #616161;

    font-size: 2.5vw;
    width: 50%;
    margin: 0px;

    padding-left: 2.5%;
    text-align: left !important;
}

.two-column-layout {
    display: grid;

    grid-template-columns: 50% 50%;
}

.pokemon-image-container {
    grid-column: 1;

    background-color: #F2F2F2;
    width: 100%;

    border-radius: 10px;    
}

.pokemon-image-container > img {
    padding: 2%;
    width: 100%;
}

.stats-header {
    color: #101010;
    text-align: center;
}

.stat-part {
    text-align: center;
}

.type-container {
    grid-column-start: 1;
    grid-column-end: 3;
}

.type-list {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 0% 5%;
    width: 100%;
}

.type-list > li {
    text-decoration: none;
    list-style: none;
    width: 32.29%;
    border-radius: 5px;
    padding: 0;
    text-align: center;
    margin: 0px 20px;
}