
@import url('//db.onlinewebfonts.com/c/84253455d9c02e0cdd20ea402a99c9e5?family=Flexo+Thin');

* {
    font-family: "Flexo-Regular", arial, sans-serif;
}

img, div, a
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

h1,
h2 {
    color: white;
}

.container {
    padding: 5%;
    height: 100%;
}

.background-image {
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;

    background-image: url('../img/Pokemon_BG.png');
    background-repeat: repeat;
    background-position: 0px 0px;
}