
#bt-back {
    position: absolute;

    width: 10%;
    height: 5%;
    top: 10%;
    left: 5%;

    color: white;

    background-color: transparent;
    border-radius: 5px;

    outline-width: 0px;
    border-width: 0px;

    font-size: 1vw;
}

#bt-back:hover {
    background-color: white;
    color: black;
}

.pokemon-search-box {

    margin: 5% 10% 0% 10%;

    width: 80%;

    font-size: 1.5vw;

    outline-width: 0px;
    border-radius: 5px;
    border: gray solid;
}

.pokemon-search-box:focus {

    outline-width: 6px;
    outline-color: #101010;
    border-color: white;
}

.pokemon-list {
    margin-top: 5%;
    background-color: white;
    height: 50vh;

    overflow-y: auto;
    justify-items: center;
    border-radius: 5px;
}

.pokemon-list:empty {
    display: none;
}

.pokemon-list > li {
    
    position: relative;
    justify-self: center;
    height: 10%;
    font-size: 1vw;
}

.pokemon-list > li:hover {
    color: white;
    background-color: gray;
}

.pokemon-item {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}